/* reset, variáveis, tipografia */
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* variáveis de cores sujeito a alterações */
:root {
  --bg-main: #121212;
  --bg-side-bar: #1a1a1a;
  --accent-color: #f707bb;
  --text-bright: #ffffff;
  --text-dim: #b3b3b3;
}

body {
  font-family: sans-serif, "Courier New", Courier, monospace;
  background-color: var(--bg-main);
  color: var(--text-bright);
}
